{% extends "base.html" %}
{% load Home_tags %}
{% block title %}طاقچه{% endblock %}

{% block content %}
    <div id="dashboard-header">
           <h1>طاقچه</h1>
            <span>شما در حال حاضر  <strong> {{request.user.profile.ratio}} </strong> سکوکات دارید</span>
    </div>
    <p>شما میتونید <a href="{% url 'edit' %}"> حسابتون رو ویرایش کنید </a> یا <a href="{% url 'password_change' %}">  رمز عبور رو تغییر</a> بدید.<p>
    <div style=" width: 500px; float:left ">
        <div class="message">
        <p class="title">    پیام های شما   </p>
            {% show_latest_messages %}
        </div>

        <div class="quran">
        <p class="title">    آیه زیبای امروز   </p>
            {% show_latest_quran %}
        </div>
    </div>
{% endblock %}
